temp-office-ai/workflows/5-calendar-agent.json
{
  "name": "5 - Calendar Agent (Office AI Copilot)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": { "item": [{ "mode": "everyMinute" }] },
        "simple": false,
        "filters": { "q": "subject:(toplantı OR meeting OR randevu)" },
        "options": {}
      },
      "id": "gmail-trigger",
      "name": "Gmail Trigger (toplantı maili)",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [240, 300],
      "credentials": { "gmailOAuth2": { "id": "REPLACE", "name": "Gmail account" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"claude-haiku-4-5\",\n  max_tokens: 1000,\n  system: \"Mail thread'inden takvim etkinliği çıkar. Saat dilimi: Europe/Istanbul. Net tarih/saat çıkaramıyorsan confident:false ver, TAHMİN ETME. SADECE şu JSON (ISO 8601): {\\\"confident\\\":true,\\\"title\\\":\\\"...\\\",\\\"start\\\":\\\"2026-06-15T14:00:00\\\",\\\"end\\\":\\\"2026-06-15T15:00:00\\\",\\\"attendees\\\":[\\\"...\\\"],\\\"location\\\":null,\\\"notes\\\":null}\",\n  messages: [{ role: \"user\", content: \"Konu: \" + $json.subject + \"\\nGönderen: \" + $json.from + \"\\n\\n\" + $json.snippet }]\n}) }}",
        "options": {}
      },
      "id": "claude-call",
      "name": "Claude — Etkinlik Çıkar (Haiku)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": { "httpHeaderAuth": { "id": "REPLACE", "name": "Anthropic API (x-api-key)" } }
    },
    {
      "parameters": {
        "jsCode": "let text = $json.content[0].text.trim();\nif (text.startsWith('```')) { text = text.split('```')[1].replace(/^json/, '').trim(); }\nreturn { json: JSON.parse(text) };"
      },
      "id": "parse-json",
      "name": "JSON Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "conditions": [
            { "leftValue": "={{ $json.confident }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true", "singleValue": true } }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-confident",
      "name": "Tarih net mi?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": { "__rl": true, "value": "primary", "mode": "list" },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "summary": "={{ $json.title }}",
          "attendeesUi": { "values": [] }
        }
      },
      "id": "calendar-create",
      "name": "Takvim Daveti Oluştur",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [1140, 220],
      "credentials": { "googleCalendarOAuth2Api": { "id": "REPLACE", "name": "Google Calendar account" } },
      "notes": "Geri alınamaz işlem. İstersen davet yerine önce taslak/onay adımı koy (AUTO_SEND mantığı)."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "message", "value": "Net tarih/saat çıkarılamadı — kullanıcıya 'netleştir' bildirimi gönder.", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "needs-clarify",
      "name": "Netleştirme Gerekli",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1140, 400]
    }
  ],
  "connections": {
    "Gmail Trigger (toplantı maili)": { "main": [[{ "node": "Claude — Etkinlik Çıkar (Haiku)", "type": "main", "index": 0 }]] },
    "Claude — Etkinlik Çıkar (Haiku)": { "main": [[{ "node": "JSON Parse", "type": "main", "index": 0 }]] },
    "JSON Parse": { "main": [[{ "node": "Tarih net mi?", "type": "main", "index": 0 }]] },
    "Tarih net mi?": { "main": [[{ "node": "Takvim Daveti Oluştur", "type": "main", "index": 0 }], [{ "node": "Netleştirme Gerekli", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templatecredsSetupCompleted": false },
  "pinData": {}
}
